@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EntityLayer.Entities.Sales>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
    /* CSS stil kodları */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .btn {
        text-decoration: none;
        padding: 6px 12px;
        border-radius: 4px;
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
    }

    .btn-danger {
        background-color: #dc3545;
        color: white;
    }
</style>

<h2>Satış Lİstesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Kullanıcı Bilgisi</th>
        <th>ID</th>
        <th>Ürün Adı</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Resim</th>
        <th>Tarih</th>
    </tr>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.User.Name @item.User.SurName</td>
                <td>@item.Id</td>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td><img src="~/Content/Image/@item.Product.Image" width="90" height="90" /></td>
                <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
            </tr>

        </tbody>


    }
</table>

@Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.Classic)
