@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EntityLayer.Entities.Comment>
@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    /* CSS stil kodları */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .btn {
        text-decoration: none;
        padding: 6px 12px;
        border-radius: 4px;
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
    }

    .btn-danger {
        background-color: #dc3545;
        color: white;
    }
</style>

<table class="table table-bordered">
    <tr>
        <th>İçerik</th>
        <th>Ürün Bilgisi</th>
        <th>Kullanıcı</th>
        <th>Tarih</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Contents</td>
            <td>@item.Product.Name</td>
            <td>@item.User.Name @item.User.SurName</td>
            <td>@item.Date</td>
            <td>@Html.ActionLink("Sil", "Delete", new {item.Id}, new {@class="btn btn-danger", onclick="return confirm ('Silmek istiyor musunuz?')"})</td>
        </tr>

    }
</table>
